{% extends 'gusto/../../templates/base.html' %}

{% block content %}
    <div class="col-xs-12 col-sm-6">
        <h2>{{ event.title }}</h2>
        <div><h3>{{ event.description }}</h3></div>
        <div><p>{{ event.event_date }}</p></div>
        <div><p>{{ event.event_time|time:"H:i" }}</p></div>
        {% if event.price > 0 %}
            <div><p>{{ event.price }} &#8372;</p></div>
        {% endif %}
        <img src="{{ event.photo.url }}" class="img-fluid" alt="Responsive image">
    </div>
{% endblock %}